#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: stretch;
  display: table;
}

.pageCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  padding: 2em;
}

.footer {
  color: #888;
  height: 1px;
  vertical-align: bottom;
  display: table-row;
}
